<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortner</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container p-5">
        <h2 class="text-center">URL-Shortner</h2>

        <div class="input-group my-3">
            <input type="text" class="form-control" name="url" placeholder="Paste your url here...">
            <button type="button" class="btn btn-primary" id="generate">Generate</button>
        </div>

        <div class="generated-url p-3 bg-secondary text-center d-none">
            Your Short URL : <a href="https://rajivtech.com" class="text-white">https://rajivtech.com</a>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>Sno.</th>
                <th>Original URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
                <th>Analitics</th>
            </tr>
        </table>
    </div>
</body>

</html>